html {
    scroll-behavior: smooth;
    scroll-padding-top: 4.6em;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 65.5em;
    margin: 0 auto;
}

/* HEADER */
.header {
    background-color: rgba(244,244,244, 80%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.6em;
}

.header .logo img{
    height: 60px;
}

.nav_bar ul {
    display: flex;
    list-style: none;
    align-items: center;
}
.nav_bar li a{
    text-decoration: none;
    color: #515151;
    padding: 1em 1.5em;
    transition: .2s;
}
.nav_bar li a:hover{
    color: #03CF37;
}
.nav_bar .btn_call {
    border-radius: 2em;
    padding: .8em 2em;
    color: #f4f4f4;
    text-transform: uppercase;
    font-size: .9em;
}
.nav_bar .btn_call:hover{
    color: #f4f4f4;
}




/* HOME */
#home {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    margin-bottom: 5em;
}

#home .container {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;  
    text-transform: uppercase; 
    width: 40%;
    color: #f4f4f4;
    font-weight: bold;
    margin: 0;
}

#home .subtitle {
    color: rgba(255,255,255, 80%);
    padding-bottom: .5em;
    width: 40%;
}

#home .btn_dark {
    margin-right: 10px;
}

#home .call {
    display: flex;
    align-items: center;
}

#home .arrow_link {
    background-color: #0A100D;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #f4f4f4;
    text-decoration: none;
    border-radius: 50px;
    transition: transform .1s linear;
}
#home .arrow_link:hover {
    transform: scale(1.1);
}




/* SERVICES */
#services .cards{
    display: flex;
    justify-content: space-between;
}

.card_services{
    width: 20em;
    height: 36em;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 5px;
}

.card_services .card_img{
    width: 20em;
    height: 20em;
    border-radius: 5px 5px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.card_services .card_img span{
    width: 100%;
    height: 100%;
    background-color: #0A100D;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    transition: .2s linear opacity;
}

.card_services .card_img span:hover{
    opacity: 0;
}

.card_services img {
    height: 21em;
}

.card_services .card_icon{
    height: 80px;
    width: 80px;
    background-color: #03CF37;
    color: #f4f4f4;
    border-radius: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    position: absolute;
    top: 7.7em;
    right: .5em;
    z-index: 1;
}

.card_content {
    width: 100%;
    height: 16em;
    padding: 2.5em 1.5em 0em 1.5em;
    margin-top: 18em;
    background-color: #f4f4f4;
    box-sizing: border-box;
    position: relative;
}

.card_content .btn_call{
    position: absolute;
    bottom: 0;
    left: 1.5em; 
}

.card_content .card_title{
    text-transform: uppercase;
    font-weight: bold;
    color: #03CF37;
}

.card_content .card_description {
    color: #515151;
}

.services_call {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}

.call_services_p {
    color: #515151;
}




/* ABOUT */
#about {
    display: flex;
    align-items: center;
    position: relative;
}

.about_img img{
    height: 31.25em;
    width: 31.25em;
    border-radius: 5px;
}
.about_img {
    height: 31.25em;
    width: 31.25em;
    position: relative;
}

.about_img span {
    display: block;
    height: 26em;
    width: 6.25em;
    border-radius: 2px 0 0 2px;
    background-color: rgba(33, 201, 76, 60%);
    position: absolute;
    top: 42px;
    right: 0;
}

.about_content {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0px 5px 5px 0px;
    box-sizing: border-box;
    height: 26em;
    padding: 2em 4em 2em 2em;
    display: flex;
    flex-direction: column;
}

.about_content .sub_text {
    margin-bottom: 2em;
}

.about_content p{
    color: #515151;
    margin-bottom: 5px;
}

.about_content .btn_call{
    align-self: flex-end;
    margin-top: 1.2em;
}




/* QUESTIONS */
#questions ul{
    list-style: none;
    padding: 0;
}
.question_card {
    margin-bottom: 30px;
    border-bottom: 2px solid #d4d4d4;
    height: 2em;
    overflow: hidden;
    transition: .3s linear;
}
.question_card:hover {
    cursor: pointer;
}
.question_card.active {
    height: 10em;
}
.question_card.active .question_title i {
    transform: rotate(0deg);
}

.question_card p {
    color: #515151;
    margin-left: 25px;
}
.question_card .question_title i{
    margin-right: 10px;
    color: #03CF37;
    transform: rotate(-90deg);
    transition: .3s linear;
}
.question_card .question_title {
    color:#0A100D;
    margin: 0;
}



/* CONTACT */
.contact_content {
    display: flex;
    gap: 5em;
}

.map_responsive {
    border-left: 8px solid #03CF37;
    width: 400px;
    height: 400px;
    box-shadow: 0 0 10px 0 #cccccc;
}

.contact_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact_infos {
    display: flex;
    gap: 3em;
    height: 40%;
}

.contact_infos .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .4em 0;
}
.contact_infos .links a {
    color: #515151;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.contact_infos .links i {
    font-size: 2em;
    color: #03CF37;
    width: 2.5em;
}

.call_budget .btn_call {
    border-radius: 2em;
    border: 4px solid #03CF37;
    margin-right: 2em;
}




/* FOOTER */
footer {
    background-color: #03CF37;
    height: 6em;
    position: relative;
}
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
footer .logo {
    height: 60px;
}
footer p{
    color: #0A100D;
    font-size: .8em;
    text-align: center;
}

footer .arrow {
    background-color: #0A100D;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 1.5em;
    text-decoration: none;
    color: #03CF37;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 30px;
    display: none;
}
footer .dev{
    display: flex;
    align-items: center;
}
footer .dev a{
    color: #0A100D;
    margin: 0 3px;
}




/* COMPONENTS */
.btn_menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 2em;
    width: 2.5em;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.btn_menu .line{
    display: block;
    height: 4px;
    width: 100%;
    background-color: #03CF37;
    border-radius: 5px;
}
.btn_menu .line1 {
    transform-origin: top right;
    transition: transform .2s ease-in;
}
.btn_menu .line2 {
    transition: transform .2s ease-in;
}
.btn_menu .line3 {
    transform-origin: bottom right;
    transition: transform .2s ease-in;
}

.btn_menu.active .line1{
    transform: rotate(-45deg);
}
.btn_menu.active .line2{
    transform: scale(0);
}
.btn_menu.active .line3{
    transform: rotate(45deg);
}

.btn_call {
    display: inline-block;
    background-color: #03CF37;
    color: #f4f4f4;
    font-weight: bold;
    text-decoration: none;
    padding: .8em 2em;
    transition: .2s;
}
.btn_call:hover{
    transform: scale(1.1);
}

.btn_light {
    background-color: #f4f4f4;
    color: #03CF37;
    border: 3px solid #03CF37;
    border-radius: 4em;
}

.btn_dark {
    background-color: #0A100D;
    text-transform: uppercase;
    border-radius: 50px;
    letter-spacing: .1em;
}

h4 {
    font-size: 1.5em;
    color: #03CF37;
    margin: 0;
}

.sub_text{
    margin: .2em 0 3em 0;
    color: #515151;
}

section{
    margin-bottom: 15em;
}

.hamb_menu{
    display: block;
}




/* --- MOBILE --- */
@media screen and (max-width: 480px){
    .container {
        max-width: 300px;
    }

    /* HEADER */
    .header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .header .container{
        height: 3.5em;
    }

    .header .logo img{
        height: 50px;
    }

    .nav_bar{
        position: fixed;
        top: 3.5em;
        left: 0;
        max-height: 0;
        overflow: hidden;
        width: 100%;
        background-color: rgba(255,255,255, 90%);
        transition: .4s ease-in max-height;
    }

    .nav_bar.active {
        max-height: 100%;
    }

    .nav_bar ul {
        flex-direction: column;
        gap: 4em;
        height: 100%;
        margin: 0;
        padding: 3em 0;
    }
    
    .btn_menu {
        display: flex;
    }




    /* HOME */
    #home {
        background-image: none;
        background-color: #03CF37;
        margin-top: 3.5em;
        height: 100vh;
    }

    #home .container {
        height: 100vh;
        justify-content: flex-end;
        padding: 5em 0;
    }

    h1 {
        font-size: 36px;
        width: 100%;
    }

    #home .subtitle {
        width: 100%;
    }




    /* SERVICES */
    #services .cards{
        flex-direction: column;
        gap: 5em;
    }

    .services_call {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: .5em;
        align-items: center;
        justify-content: center;
        margin-top: 4em;
    }




    /* ABOUT */
    #about {
        flex-direction: column;
    }

    .about_img img{
        height: 300px;
        width: 300px;
        border-radius: 5px 5px 0 0;
    }
    .about_img {
        height: 300px;
        width: 300px;
    }

    .about_img span {
        height: 50px;
        width: 100%;
        top: 250px;
        left: 0;
    }

    .about_content {
        border-radius: 0px 0px 5px 5px;
        height: 35em;
        padding: 1.5em;
    }

    .about_content p{
        text-align: center;
    }

    .about_content .btn_call{
        align-self: center;
        margin-top: 2.5em;
        text-transform: uppercase;
    }




    /* QUESTIONS */
    .question_card {
        height: 3em;
    }
    .question_card.active {
        height: 20em;
    }

    .question_card p {
        color: #515151;
        margin-left: 25px;
    }




    /* CONTACT */
    .contact_content {
        flex-direction: column;
    }
    
    .map_responsive {
        width: 300px;
        height: 300px;
    }
    
    .contact_links {
        height: 40em;
    }

    .contact_links .links{
        gap: 4em;
    }
    
    .contact_infos .links i {
        width: 0em;
        margin-right: 2.5em;
    }

    .links_call_budget {
        display: flex;
        justify-content: center;
        gap: 2em;
    }
    
    .call_budget .btn_call {
        margin-right: 0;
        padding-left: 6px;
        padding-right: 6px;
    }




    /* FOOTER */
    footer {
        height: 15em;
        padding: 20px 0;
    }

    footer .container {
        display: flex;
        flex-direction: column;
    }

    footer p{
        color: #1d4d35;
    }

    footer .arrow {
        background-color: #1d4d35;
    }

    footer .dev a{
        color: #1d4d35;
    }




    /* COMPONENTS */
    h4 {
        text-align: center;
        font-size: 24px;
    }
    .sub_text {
        text-align: center;
    }
}